version: "3.8"

services:
  frontend:
    image: soni841/frontend:latest
    restart: always
    depends_on:
      - backend

  backend:
    image: soni841/backend:latest
    restart: always
    env_file:
      - backend/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
